@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Montserrat&display=swap');
$main-font: 'Bitter', serif;
$second-font: 'Montserrat', sans-serif;

.home-wrapper {
    position: relative;
    .greeting-style {
        position: absolute;
        top: 8rem;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.9);
        h1 {
            font-family: ($main-font);
            font-size: 4rem;
            color: rgb(238, 238, 238);
            letter-spacing: 3px;
        }
        h2 {
            font-family: ($second-font);
            font-size: 4.7rem;
            color: rgb(143, 143, 143);
        }
    }
    .phrase-style {
        position: absolute;
        left: 70%;
        top: 42%;
        p {
            font-family: ($main-font);
            color: rgb(128, 128, 128);
            font-style: italic;
            letter-spacing: 1px;
        }
    }
}