@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Montserrat&display=swap');
$main-font: 'Bitter', serif;
$second-font: 'Montserrat', sans-serif;

nav {
    p {
        font-family: ($second-font);
        letter-spacing: 1px;
    }
    ul {
        text-transform: uppercase;
        font-family: ($second-font); 
        a {
            color: #ffffff;
        }
    }
}